<!DOCTYPE html>
<html>
<head th:insert="fragments/global.html :: head"/>
<body>

<header th:insert="fragments/global.html :: header"></header>

<div class="container">
    <div class="section">
        <div th:insert="fragments/global.html :: tabs"></div>

        <div class="section__inner">
            <div class="profile-info">
                <h3 style="margin-right: 20px">My profile</h3>

                <form th:method="put" th:action="@{/change-password}" th:object="${userChangePasswordRequest}">
                    <ul class="list-group list-group-light list-group-small"
                        style="display: inline-block; font-size: 20px;">
                        <input th:value="${#authentication.getPrincipal().getId()}" type="hidden" name="id"
                               class="form-control"/>
                        <li class="list-group-item">
                            <label class="form-label" for="oldPassword">Old password</label>
                            <input th:field="*{oldPassword}" type="password" name="oldPassword" id="oldPassword"
                                   class="form-control"/>
                            <p th:if="${#fields.hasErrors('oldPassword')}" th:errorclass="error" th:errors="*{oldPassword}" />
                        </li>

                        <li class="list-group-item">
                            <label class="form-label" for="newPassword">New Password</label>
                            <input th:field="*{newPassword}" type="password" name="newPassword" id="newPassword"
                                   class="form-control"/>
                            <p th:if="${#fields.hasErrors('newPasswordMatching')}" th:errorclass="error" th:errors="*{newPasswordMatching}" />
                        </li>

                        <li class="list-group-item">
                            <label class="form-label" for="newPasswordMatching">Repeat new password</label>
                            <input th:field="*{newPasswordMatching}" type="password" name="newPasswordMatching" id="newPasswordMatching"
                                   class="form-control"/>
                            <p th:if="${#fields.hasErrors('newPasswordMatching')}" th:errorclass="error" th:errors="*{newPasswordMatching}" />
                        </li>
                    </ul>

                    <div>
                        <button type="submit" class="btn btn-success">Save</button>
                        <a href="/profile" type="submit" class="btn btn-danger">Cancel</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/global.html :: script"></div>
</body>
</html>
