<!DOCTYPE html>
<html>
<head th:insert="fragments/global.html :: head"/>
<body>

<header th:insert="fragments/global.html :: header"></header>

<div class="section">
    <form method="post" th:action="@{/login}" class="mb-4 form">

        <div class="alert-danger login-alert" th:if="${#bools.isTrue(error)}">Invalid username or password</div>
        <div class="alert-info login-alert" th:if="${#bools.isTrue(logout)}">Logged out successfully</div>

        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" id="username" name="username" class="form-control"/>
            <label class="form-label" for="username">Email address</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" id="password" name="password" class="form-control"/>
            <label class="form-label" for="password">Password</label>
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="form2Example34" checked/>
                    <label class="form-check-label" for="form2Example34"> Remember me </label>
                </div>
            </div>

            <div class="col">
                <!-- Simple link -->
                <a href="#!">Forgot password?</a>
            </div>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member? <a href="/registration">Register</a></p>

        </div>
    </form>
</div>

<div th:insert="fragments/global.html :: script"></div>
</body>
</html>